<footer>
    <div class="footer-logo">
      <img src="assets/images/pool-pros-logo-footer.png">
    </div>
    <div class="social-icons">
      <span>Connect With us</span> 
      <ul class="list-unstyled list-inline">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="sub-footer">
      <ul class="list-unstyled mobile-visible list-inline top-footer-bar">
        <li><a href="#">Dealers and Distributors</a></li>
        <li><a href="#">Commercial Service <img src="assets/images/action-commercial-icon.png"></a></li>
      </ul>
      <ul class="list-unstyled list-inline">
        <li><a href="#">&copy 2018 Pool Pros</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms and Conditions</a></li>
      </ul>
    </div>
</footer>