$color-white:#ffffff;
$color-blue:#083d8c;
$light-blue:#216ddf;
$grey-color:#ebebeb;
$text-color:#3f3f3f;
$green-color:#0bc9c8;
$bg-grey-color: #f6f6f6;

$open-regular:'open_sansregular';
$open-bold:'open_sansbold';
$open-light: 'open_sanslight';
$open-extrabold: 'open_sansextrabold';
